<app-table
  title="Przyjmij dostawę"
  [columns]="columns"
  [rows]="snacks"
  [formGroup]="form"
  [inputs]="inputs"
  [min]="0"
>
</app-table>

<div class="d-flex gap-3 w-75 justify-content-end">
  <app-form-button
    text="Przyjmij"
    data-bs-target="#acceptDeliveryModal"
    data-bs-toggle="modal"
    [disabled]="buttonDisabled()"
  ></app-form-button>
</div>

<app-modal
  modalId="acceptDeliveryModal"
  title="Przyjmij dostawę"
  noButtonText="Zamknij"
  yesButtonText="Przyjmij"
  (callbackCalled)="onSubmit()"
  *ngIf="!buttonDisabled()"
>
  <p>Czy na pewno chcesz przyjąć dostawę?</p>
</app-modal>
