*
!/assets/
/assets/node_modules
!/bin/
!/config
!/db/migrations
!/docker/fpm
!/docker/nginx
!/docker/python
!/packages
/packages/src/Faker
/packages/tests
!/public
/public/build
/public/app
!/src/
!/.env
!/composer.json
!/composer.lock
!/phinx.php
!/symfony.lock
!/resources/scripts/phpstan-doctrine-object-manager.php
!/resources/templates
!/resources/translations
!/python
!/landings/frontend/
/landings/frontend/node_modules
/landings/frontend/dist