parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:withHttpClient\\(\\)\\.$#"
			count: 1
			path: packages/src/TestCase/IntegrationTestCase.php

		-
			message: "#^Property Polsl\\\\Domain\\\\Model\\\\Machine\\\\Machine\\:\\:\\$snacks type mapping mismatch\\: property can contain iterable\\<\\(int\\|string\\), Polsl\\\\Domain\\\\Model\\\\Machine\\\\MachineSnack\\>\\|Traversable\\<mixed, Polsl\\\\Domain\\\\Model\\\\Machine\\\\MachineSnack\\> but database expects Doctrine\\\\Common\\\\Collections\\\\Collection&iterable\\<Polsl\\\\Domain\\\\Model\\\\Machine\\\\MachineSnack\\>\\.$#"
			count: 1
			path: src/Domain/Model/Machine/Machine.php
