<div class="welcome-message">
  <h1>Hello user!</h1>
  <p>Select an option from navbar to begin</p>
</div>

<div class="text-align-start">
  <ul class="mt-3">
    <h4>Finished templates:</h4>
    <li>View warehouse</li>
    <li>View snacks</li>
    <li>Add machine</li>
    <li>Create buy/sell report</li>
    <li>Create warehouse report</li>
    <li>Add user</li>
    <li>Accept delivery</li>
    <li>Hand snacks to courier</li>
  </ul>

  <ul>
    <h4>Almost finished templates:</h4>
    <li>Add snack</li>
    <li>View users</li>
    <li>View machines</li>
    <li>Create machine/machines report</li>
  </ul>

  <ul>
    <h4>Templates to create:</h4>
    <li>Login page</li>
  </ul>
</div>
