<app-table
  title="Lista maszyn"
  [columns]="machinesListcolumns"
  [rows]="displayedMachines"
  [buttons]="buttons"
  *ngIf="showMachines; else snacks"
  (actionChosen)="onMachineChosen($event)"
>
</app-table>
<ng-template #snacks>
  <app-table
    title="Lista przekąsek"
    [columns]="snacksListcolumns"
    [rows]="snacksInMachine"
  >
  </app-table>
  <div class="d-flex gap-3 w-75 justify-content-between">
    <app-form-button
      text="Wróć"
      btn-style="outline"
      (click)="goBack()"
    ></app-form-button>
    <app-form-button text="Zapisz"></app-form-button>
  </div>
</ng-template>
