<app-table
  title="Lista uzytkowników"
  [columns]="columns"
  [rows]="displayedUsers"
  [buttons]="buttons"
  (actionChosen)="onActionChosen($event)"
>
  <app-modal
    modalId="modal1"
    title="Edytuj uzytkownika"
    noButtonText="Zamknij"
    yesButtonText="Zapisz"
    (callbackCalled)="onCallbackCalled()"
    [disabled]="!form.valid"
  >
    <app-form-input
      name="Nowy email"
      type="email"
      [control]="form.controls.email"
    ></app-form-input>
    <app-form-input
      name="Nowe imię"
      [control]="form.controls.firstName"
    ></app-form-input>
    <app-form-input
      name="Nowe nazwisko"
      [control]="form.controls.lastName"
    ></app-form-input>
    <app-form-input
      name="Nowe hasło"
      type="password"
      [control]="form.controls.password"
    ></app-form-input>
    <app-form-multiselect
      name="Nowe role"
      [control]="form.controls.roles"
      [options]="roles"
    ></app-form-multiselect>
  </app-modal>

  <app-modal
    modalId="modal2"
    title="Zmień status uzytkownika"
    noButtonText="Zamknij"
    yesButtonText="Zapisz"
    (callbackCalled)="onCallbackCalled()"
  >
    <p>Czy na pewno chcesz zmienić status tego uzytkownika?</p>
  </app-modal>
</app-table>
